---

---

//
.nav-tabs {
  font-family: georgia, serif;  
  
}

.tab-content {
  list-style-type:none;
  font-size: 14px;
}


.gtableline:nth-child(odd) {
  background-color: #EDEDED;
}

#footballtab{
  color: #008000;
  background-color:#ededed;
  border-top-color: #008000;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 2px;
  
}

#uknewstab{
  color: #D61D00;
  background-color:#ededed;
  border-top-color: #D61D00;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 2px;
}


#traveltab{
  color: #066EC9;
  background-color:#ededed;
  border-top-color: #066EC9;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 2px;
  
}

