<div class = "wrapper">
   <a name="about-us"></a> 
    <h1>About Us</h1>
  <img src="/photos/team1" id=team height="250"/>
    <h3>We can't run, but boy can we sprint.</h3>
    <p>The journey we puruse is not out on that open road, but through lines and lines of code. Brought together by Founders & Coders in Camden we are taking on the challenge of fighting through a shelob's lair of bugs and crafting new web-based artictecture with our bare fingertips. Join us on our quest and view the weekly fruits of our labour.</p>
  </div>