<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Proudly part of:</h2>
    
    <table class="row" id="alignment"><tr>
      
       <td class="col-md-4"><a href="http://camdencollective.co.uk/" target="_blank"><img class="icon" src="/photos/cc.jpg"/></a></td>
    <td class="col-md-4"><a href="http://foundersandcoders.org/" target="_blank"><img class="icon" src="/photos/fc.png" /></a></td> 
    <td class="col-md-4"><a href="http://www.camdentownunlimited.com/" target="_blank"><img class="icon" src="/photos/ctu.jpg" /></a></td>
  </tr>
    </table>

