<footer class="site-footer">
  
  <a name="aboutus"></a>

  <div class="wrapper">

    <h2 class="footer-heading">Proudly part of:</h2>
    
    <table id="alignment"><tr>
      
      <td ><a href="http://camdencollective.co.uk/" target="_blank"><img class="icon" src="/photos/cc.jpg"/></a></td>
    <td ><a href="http://foundersandcoders.org/" target="_blank"><img class="icon" src="/photos/fc.png" /></td> 
    <td><a href="http://www.camdentownunlimited.com/" target="_blank"><img class="icon" src="/photos/ctu.jpg" /></td>
  </tr>
    </table>
    

