<footer class="site-footer">

	
    <h1 class="footer-heading section-title">
		<div class="container-fluid">
    <div class="row footer-row">
  <div class="col-sm-4"><a href="http://camdencollective.co.uk/" target="_blank"><img class="icon" src="/photos/cc.jpg" /></a></div>
  <div class="col-sm-4"><a href="http://foundersandcoders.org/" target="_blank"><img class="icon" src="/photos/fc.png" /></a></div>
  <div class="col-sm-4"><a href="http://www.camdentownunlimited.com/" target="_blank"><img class="icon" src="/photos/ctu.jpg" /></a></div>
		</div>
