<header class="site-header">
     <div class="navbar" class="row" >
        <a class="site-title col-md-3" href="{{ site.baseurl }}/">Home</a>
        <a class="site-title col-md-3" href="{{ site.baseurl }}/#page-content">Projects</a>
        <a class="site-title col-md-3" href="{{ site.baseurl }}/#about-us">About Us</a>			 
        <a class="site-title col-md-3" href="{{ site.baseurl }}/#contact-us">Contact Us</a>
     </div>
  

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>


     <div class="site-headerimage">
       <div class="header-text col-md-4">
         <h1 class="maintitle">coderunners</h1>
         <h2 class="subtitle">eight weeks of code sprints</h2>
       </div>
       <!--a href="#contact-us" class="headerbutton">Keep up to Date!</a></p-->
    </div>
</header>