<header class="site-header">
     <div class="navbar" class="row" >
        <a class="site-title col-md-3" href="{{ site.baseurl }}/">Home</a>
        <a class="site-title col-md-3" href="#page-content">Projects</a>
        <a class="site-title col-md-3" href="#contact-us">Contact Us</a>
        <a class="site-title col-md-3" href="#about-us">About Us</a>
     </div>
  

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>


     <div class="site-headerimage">
       <h1 class="maintitle col-md-4">Code Runners</h1>
       <!--a href="#contact-us" class="headerbutton">Keep up to Date!</a></p-->
    </div>
</header>