<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        {{ content }}
        
      </div>
    </div>
    
    {% include aboutus.html %}
    
    {% include signup.html %}
    
    {% include footer.html %}

    <!--JQuery scripts-->
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/application.js"></script>
    <script src="/js/AJAXtwit.js"></script>

    
    <!--bootstrap codes-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> 
		

  </body>
  
</html>


