<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        
      </div>
    </div>
    
    {% include aboutus.html %}
    
    {% include signup.html %}
    
    {% include weather.html %}

    {% include footer.html %}
    
/*including JQuery*/    
<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/application.js"></script>
    
  </body>

</html>
